 
<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="lnr lnr-home"></span>Quản lý Hệ đào tạo</h3>
    <div style="float: right;margin-right: 100px;">
    <button (click)="exportExcel()"  pTooltip="XLS" tooltipPosition="bottom" style="width: 100px;border: none;height: 30px;background: #06bbe4;color: white;"><span class="lnr lnr-download">Xuất file</span></button>
    </div>
    </div>
    <div class="panel-body">
        <a (click)="createModal()" class="btn btn-success btn-sm"><span class="lnr lnr-file-add"> Thêm Hệ đào tạo</span></a><br>
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Mã Hệ đào tạo</th>
                        <th>Tên Hệ đào tạo </th>
                        <th>Thời gian cập nhật</th>
                        <th>Chi tiết</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let sp of response">
                        <tr>
                            <td>{{sp.maHe}}</td>
                            <td>{{sp.tenHe}}</td>
                            <td>{{sp.createdAt|date:'dd-MM-yyyy'}}</td>
                            <td><a class="btn btn-primary" (click)="openUpdateModal(sp)"> <span class="lnr lnr-pencil"></span> </a></td>
                            <td><a class="btn btn-danger" (click)="xoaHedaotao(sp.mahe)"> <span class="lnr lnr-trash"></span></a></td>
                        </tr>
                        <ul *ngFor="let hedaotao of Hedaotao">
                            <li>{{hedaotao.maHe}}</li>
                        </ul>
                    </ng-container>
                </tbody>    
            </table>
        </div>
        <div>
            <ngb-pagination [collectionSize]="totalRecords" [pageSize]="size" [(page)]="index" [maxSize]="10"
                [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>

    <!-- modal -->
    <div *ngIf="showUpdateModal" id="hedaotaoModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg full-height-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 *ngIf="isCreate" class="modal-title">Nhập thông tin Hệ đào tạo</h4>
                    <h4 *ngIf="!isCreate" class="modal-title">Cập nhật thông tin Hệ đào tạo</h4>
                </div>
                <form *ngIf="doneSetupForm" [formGroup]="formdata" (ngSubmit)="onSubmit(formdata.value)"
                    class="form-horizontal ">
                    <div class="modal-body ">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="control-label no-padding-right"> Mã hệ đào tạo (<span
                                                style="color: red;">*</span>)</label>
                                        <input *ngIf="isCreate" type="text" placeholder="Mã hệ đào tạo" class="form-control"
                                            formControlName="mahe" />
                                            <input *ngIf="!isCreate" readonly style="cursor: not-allowed;" type="text" placeholder="Mã hệ đào tạo" class="form-control"
                                            formControlName="mahe" />
                                        <div *ngIf="submitted && f.mahe.errors" class="text-danger">
                                            <div *ngIf="f.mahe.errors.required">Vui lòng nhập Mã hệ đào tạo</div>
                                        </div>
                                    </td>
                                <td>
                                        <label class="control-label no-padding-right"> Tên Hệ đào tạo (<span
                                                style="color: red;">*</span>)</label>
                                        <input type="text" placeholder="Tên Hệ đào tạo" class="form-control"
                                            formControlName="tenhe" />
                                        <div *ngIf="submitted && f.tenhe.errors" class="text-danger">
                                            <div *ngIf="f.tenhe.errors.required">Vui lòng nhập Tên hệ đào tạo</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-default btn-sm" (click)="reset()">
                            <i class="fa fa-bell"></i> Làm mới
                        </button>
                        <button type="submit" class="btn btn-success btn-sm btn-submit">
                            <i class="fa fa-save"></i> Đồng ý
                        </button>
                        <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">
                            <i class="fa fa-times"></i> Đóng lại
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>