<header style="background-color:#3b5998">
    <div class="container">
        <div class="row top-menu">
            <nav class="navbar navbar-blue" role="navigation" style="margin-bottom:0px">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        
                        
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

<style>
.styMenu {
    float: left;
    padding-top: 4px;
    padding-left: 4px;
    height: 38px;
}

.styMenuCon {
    padding-left: 30px;
}
</style>
<div>
<div style="float:left">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="/SinhVien/Home" style="margin-left:-50px">
                <div style="float:left;">
                    <img class="clImage" src="/FileManager/img/home-4-24.png">
                </div>
                <div class="styMenu">TRANG CHỦ</div>
            </a>
        </li>
        <li class="dropdown">
            <a href="/home/chuong-trinh-dao-tao" class="dropdown-toggle" data-toggle="dropdown">
                <div style="float:left;">
                    <img src="/FileManager/img/literature-24.png">
                </div>
                <div class="styMenu">CHƯƠNG TRÌNH ĐÀO TẠO</div>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/SinhVien/DaoTaoToanTruong">
                        <div style="float:left;">
                            <img class="" src="/FileManager/img/rsz_toantruong.png">
                        </div>
                        <div class="">Toàn trường</div>
                    </a>
                </li>
                <li>
                    <a href="/SinhVien/ChuyenNganhChinh">
                        <div style="float:left;">
                            <img class="" src="/FileManager/img/rsz_chuyennganhchinh.png">
                        </div>
                        <div class="styMenuCon">Chuyên ngành chính</div>
                    </a>
                </li>
                <li>
                    <a href="/SinhVien/ChuyenNganh2">
                        <div style="float:left;">
                            <img class="" src="/FileManager/img/rsz_chuyennganh2.png">
                        </div>
                        <div class="styMenuCon">Chuyên ngành thứ 2</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                <div style="float:left;">
                    <img src="/FileManager/img/rsz_register.png">
                </div>
                <div class="styMenu">ĐĂNG KÍ</div>
            </a>
            <ul class="dropdown-menu" role="menu">
                
                <li>
                    <a href="/DangKy/ChuyenNganhChinh">
                        <div style="float:left;">
                            <img class="" src="/FileManager/img/rsz_results.png">
                        </div>
                        <div class="styMenuCon">Đăng ký học lại/cải thiện</div>
                    </a>
                </li>
                
                <li>
                    <a href="/TraCuuLichHoc/KetQuaDangKyHoc">
                        <div style="float:left;">
                            <img class="" src="/FileManager/img/rsz_results.png">
                        </div>
                        <div class="styMenuCon">Kết quả đăng ký học</div>
                    </a>
                </li>

            </ul>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                <div style="float:left;">
                    <img src="/FileManager/img/rsz_profile.png">
                </div>
                <div class="styMenu">THÔNG TIN CÁ NHÂN</div>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/SinhVien/ThongTinSinhVien">
                        <div style="float:left;">
                            <img class="" src="/FileManager/img/rsz_profile.png">
                        </div>
                        <div class="styMenuCon">Hồ sơ cá nhân</div>
                    </a>
                </li>
                <li>
                    <a href="/TraCuuDiem/Index">
                        <div style="float:left;">
                            <img class="" src="/FileManager/img/rsz_notepad.png">
                        </div>
                        <div class="styMenuCon">Kết quả học tập</div>
                    </a>
                </li>

                <li>
                    <a href="/TraCuuLichHoc/Index">
                        <div style="float:left;">
                            <img class="" src="/FileManager/img/rsz_calendar.png">
                        </div>
                        <div class="styMenuCon">Thông tin lịch học</div>
                    </a>
                </li>
                <li>
                    <a href="/TraCuuLichThi/Index">
                        <div style="float:left;">
                            <img class="" src="/FileManager/img/rsz_calendar.png">
                        </div>
                        <div class="styMenuCon">Lịch thi sinh viên</div>
                    </a>
                </li>
                <li>
                    <a href="/DichVu/Home">
                        <div style="float:left;">
                            <img class="" src="/FileManager/img/rsz_calendar.png">
                        </div>
                        <div class="styMenuCon">KHẢO SÁT ĐÁNH GIÁ</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                <div style="float:left;">
                    <img src="/FileManager/img/rsz_money.png">
                </div>
                <div class="styMenu">TÀI CHÍNH</div>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/TraCuuHocPhi/Index">
                        <div style="float:left;">
                            <img class="" src="/FileManager/img/rsz_tructiep.png">
                        </div>
                        <div class="styMenuCon">Thông tin tài chính</div>
                    </a>
                </li>
                <li class="dropdown-submenu">
                    <a href="">
                        <div style="float:left;">
                            <img class="" src="/FileManager/img/rsz_tructuyen.png">
                        </div>
                        <div class="styMenuCon">Học phí trực tuyến</div>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                
                                <div style="float:left;">
                                    <img class="" src="/FileManager/img/rsz_tructuyen.png">
                                </div>
                                <div class="styMenuCon">Nộp học trực tuyến</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                
                                <div style="float:left;">
                                    <img class="" src="/FileManager/img/rsz_lichsu.png">
                                </div>
                                <div class="styMenuCon">Lịch sử thanh toán trực tuyến</div>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>
        
        <li class="dropdown">
            <a href="/ToKhaiYTe/Index" class="dropdown-toggle" data-toggle="dropdown">
                <div style="float:left;">
                    <img src="/FileManager/img/rsz_hospital.png">
                </div>
                <div class="styMenu">KHAI BÁO Y TẾ</div>
            </a>

        </li>


        <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                <div style="float:left;">
                    <img src="/FileManager/img/rsz_tongdaidichvu.png">
                </div>
                <div class="styMenu">BỘ PHẬN 1 CỬA</div>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/QuanLyDichVu/Index">
                        <div style="float:left;">
                            <img class="" src="/FileManager/img/rsz_news.png">
                        </div>
                        <div class="styMenuCon">Bộ phận 1 cửa</div>
                    </a>
                </li>
                <li>
                    <a href="/ThongTin/ThongBao?CatID=5">
                        <div style="float:left;">
                            <img class="" src="/FileManager/img/rsz_news.png">
                        </div>
                        <div class="styMenuCon">Tin mới nhất</div>
                    </a>
                </li>
                <li>
                    <a href="/ThongTin/ThongBao?CatID=2">
                        <div style="float:left;">
                            <img class="" src="/FileManager/img/rsz_megaphone.png">
                        </div>
                        <div class="styMenuCon">Thông báo</div>
                    </a>
                </li>
                <li>
                    <a href="/ThongTin/ThongBao?CatID=1">
                        <div style="float:left;">
                            <img class="" src="/FileManager/img/rsz_vanban.png">
                        </div>
                        <div class="styMenuCon">Văn bản biểu mẫu</div>
                    </a>
                </li>

            </ul>
        </li>

    </ul>
</div>



<div style="float:right;">
    

    
</div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    $('[data-toggle="tooltip1"]').tooltip();
    $('[data-toggle="tooltip2"]').tooltip();
});

function DangXuat() {
    location.href = "/DangNhap/Logout";
    //debugger
    //var win = window.open("https://accounts.google.com/logout");
    ////    win.close();
    //setTimeout(function () {
    //    win.close();
    //    location.href = "/DangNhap/Logout";
    //}, 500);

}
</script>




                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
</header>