<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-home" aria-hidden="true"></i>Danh sách sinh viên</h3>
        <p id="abc"></p>
    </div>
    <div class="panel-body">
        <a (click)="createModal()" class="btn btn-success btn-sm">Thêm sinh viên</a>
        <button (click)="exportexcel()"  pTooltip="XLS" tooltipPosition="bottom" style="width: 100px;
        border: none;
        height: 30px;
        background: #06bbe4;
        color: white;
        margin-left: 644px;"><span class="lnr lnr-download">Xuất file</span></button>
        <div>
            <div>
                <h4>Tìm kiếm Lớp</h4>
             <form [formGroup]="formSearch">
                <div class="border border-primary" style="border :0.3px solid rgb(175, 175, 233); padding: 10px;">
                    <div class="row">

                        <div class="col-md-2">
                            <label for="">Tên lớp</label>
                        </div>
                        <div class="col-md-4">
                            <select id="" class="form-control" formControlName="lop" (change)="timKiem()">
                                <option value="">Chọn lớp</option>
                                <option *ngFor="let lop of lops" [value]="lop.malop">{{lop.tenlop}}</option>
                            </select>
                        </div>
                    </div>
                </div>
             </form>
            </div>
            <table class="table table-hover"id="excel-table">
                <thead>
                    <tr>
                        <th>Mã sinh viên</th>
                        <th>Họ tên</th>
                        <th>Mã lớp</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <!-- <th>Dân tộc</th> -->
                        <!-- <th>Sổ định danh</th> -->
                        <!-- <th>Nơi Cấp</th> -->
                        <!-- <th>Ngày cấp</th> -->
                        <th>Điện thoại</th>
                        <th>Email</th>
                        <!-- <th>Mật khẩu</th>
                        <th>Trạng thái</th> -->
                        <th>Chi tiết</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let sp of response">
                        <tr>
                            <td>{{sp.maSV}}</td>
                            <td>{{sp.hoTen}}</td>
                            <td>{{sp.malop}}</td>
                            <td>{{sp.ngaySinh}}</td>
                            <td>{{sp.gioiTinh}}</td>
                            <!-- <td> {{sp.danToc}}</td>
                            <td>{{sp.soDinhDanh}}</td>
                            <td> {{sp.noiCap}}</td>
                            <td>{{sp.ngayCap}}</td> -->
                            <td> {{sp.dienThoai}}</td>
                            <td>{{sp.email}}</td>
                            <!-- <td> {{sp.matKhau}}</td>
                            <td> {{sp.trangThai}}</td> -->
                            <td><a class="btn btn-primary" (click)="openUpdateModal(sp)">Xem</a></td>
                            <td><a class="btn btn-danger" (click)="xoaSinhVien(sp.maSV)">Xóa</a></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div>
            

            
        </div>
    </div>

    <!-- modal -->
    <div *ngIf="showUpdateModal" id="sinhvienModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg full-height-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 *ngIf="isCreate" class="modal-title">Thêm sinh viên</h4>
                    <h4 *ngIf="!isCreate" class="modal-title">Cập nhật sinh viên</h4>
                </div>
                <form *ngIf="doneSetupForm" [formGroup]="formdata" (ngSubmit)="onSubmit(formdata.value)"
                    class="form-horizontal ">
                    <div class="modal-body ">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="control-label no-padding-right"> Mã sinh viên (<span
                                                style="color: red;">*</span>)</label>
                                        <input type="text" placeholder="Mã sinh viên" class="form-control"
                                            formControlName="masv" />
                                        <div *ngIf="submitted && f.masv.errors" class="text-danger">
                                            <div *ngIf="f.masv.errors.required">Vui lòng nhập mã sinh viên</div>
                                        </div>
                                    </td>
                                    <td>
                                        <label class="control-label no-padding-right"> Họ tên (<span
                                                style="color: red;">*</span>)</label>
                                        <input type="text" placeholder="Họ tên" class="form-control"
                                            formControlName="hoten" />
                                        <div *ngIf="submitted && f.hoten.errors" class="text-danger">
                                            <div *ngIf="f.hoten.errors.required">Vui lòng nhập họ tên</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan=2>
                                        <label class="control-label no-padding-right">Ngày sinh</label>
                                        <textarea placeholder="Mô tả" class="form-control"
                                            formControlName="ngaysinh"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       <label class="control-label no-padding-right">Giới tính</label>
                                       <input type="text" class="form-control" value="1" formControlName="gioitinh" />
                                   </td>
                                   <td>
                                       <label class="control-label no-padding-right"> Dân tộc </label>
                                       <input type="text" class="form-control" value="1" formControlName="dantoc" />
                                   </td>
                               </tr>
                               <tr>
                                <td>
                                   <label class="control-label no-padding-right">Sổ định danh</label>
                                   <input type="text" class="form-control" value="1" formControlName="sodinhdanh" />
                               </td>
                               <td>
                                   <label class="control-label no-padding-right"> Nơi cấp</label>
                                   <input type="text" class="form-control" value="1" formControlName="noicap" />
                               </td>
                           </tr>

                           <tr>
                            <td>
                               <label class="control-label no-padding-right">Ngày cấp</label>
                               <input type="text" class="form-control" value="1" formControlName="ngaycap" />
                           </td>
                           <td>
                               <label class="control-label no-padding-right"> Điện thoại </label>
                               <input type="text" class="form-control" value="1" formControlName="dienthoai" />
                           </td>
                       </tr>

                       <tr>
                        <td>
                           <label class="control-label no-padding-right">Email</label>
                           <input type="text" class="form-control" value="1" formControlName="email" />
                       </td>
                       <td>
                           <label class="control-label no-padding-right"> Mật khẩu </label>
                           <input type="text" class="form-control" value="1" formControlName="matkhau" />
                       </td>
                   </tr>

                   <tr>
                    <td>
                       <label class="control-label no-padding-right">Trạng thái</label>
                       <input type="text" class="form-control" value="1" formControlName="trangthai" />
                   </td>
                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-default btn-sm" (click)="reset()">
                            <i class="fa fa-bell"></i> Làm mới
                        </button>
                        <button type="submit" class="btn btn-success btn-sm btn-submit">
                            <i class="fa fa-save"></i> Đồng ý
                        </button>
                        <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">
                            <i class="fa fa-times"></i> Đóng lại
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  