    <div class="panel panel-headline">
        <div class="panel-heading">
            <h3 class="panel-title">Thêm chương trình đào tạo</h3>
        </div>
        <div class="panel-body">
            <div class="row overflow-auto">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3"> Danh sách môn học</div>
                        <div class="col-md-9">
                            <form [formGroup]="formSearch">
                                <input type="text" formControlName="keyWord" placeholder="Search" (keydown)="searchMonHoc()" class="form-control">
                            </form>
                            <div class="monHoc-result" container row>
                                <ng-container *ngFor="let mon2 of listSearchMonHoc">
                                    <div class="col-12" style="border-bottom:0.5px solid rgb(175, 175, 175)"><a href="javascript:void(0)" style="color: black;" (click)="addMonHoc(mon2)" >{{mon2.tenMon}}</a></div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="m-5">
                        <button class="btn btn-primary btn-sm" (click)="createModal()">Thêm môn mới</button>
                    </div>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><label for="">Mã môn</label></th>
                                <th><label for="">Mã môn</label></th>
                                <th><label for="">Số tín chỉ LT/TH</label></th>
                                <th><label for="">Học Kỳ</label></th>
                                <th><label for="">Bắt buộc</label></th>
                                <th><label for="">Xóa</label></th>
                            </tr>
                        </thead>
                        <tbody>

                            <ng-container *ngFor="let selectedMH of dsMonHoc">
                                <tr>
                                    <td>{{selectedMH.maMon}}</td>
                                    <td>{{selectedMH.tenMon}} <span *ngIf="selectedMH.deleted">(Đã xóa)</span> </td>
                                    <td>{{selectedMH.soTCLyThuyet}}/{{selectedMH.soTCThucHanh}}</td>
                                    <td><select name="" (change)="chonHocKy($event.target.value,selectedMH)" id="" class="form-control">
                                            <option *ngFor="let hk of allHocKy" value="{{hk}}">{{hk}}</option>
                                           
                                        </select>
                                    </td>
                                    <td>
                                        <input type="checkbox" (change)="chonMonDieuKien(selectedMH)" class="">
                                    </td>
                                    <td><a href="javascript:void(0)" (click)="deleteMonHoc(selectedMH.maMon)" class="btn btn-sm btn-default"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>

                </div>
               <form [formGroup]="formCTDT" (ngSubmit)="createCTDT(formCTDT.value)">
                <div class="col-md-4">
                    <h4>Thông tin CTDT</h4>
                    <div class="form-group">
                        <input type="text" formControlName="maCTDT" placeholder="Mã chương trình đào tạo"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea type="text" formControlName="tenCTDT"   placeholder="Tên chương trình đào tạo"
                            class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <select formControlName="maChuyenNganh" id="" class="form-control">
                            <option selected value="">Chọn chuyên ngành</option>
                            <option *ngFor="let cn of dsNganh" value="{{cn.maChuyenNganh}}">{{cn.tenChuyenNganh}}
                            </option>

                        </select>
                    </div>
                    <div class="form-group">
                        <select formControlName="maHe" id="" class="form-control">
                            <option selected value="">Chọn hệ đào tạo</option>
                            <option *ngFor="let hdt of dsHeDT" value="{{hdt.maHe}}">{{hdt.tenHe}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Năm áp dụng" formControlName="namApDung" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Tổng số tín chỉ: <span *ngIf="dsMonHoc.length!=0">{{tongSoTC[0]}} ({{tongSoTC[1]}}
                                TC lý thuyết, {{tongSoTC[2]}} TC thực hành)</span></label>
                    </div>
                    <div class="form-group">
                        <label for="">Tổng số tín chỉ bắt buộc: <span
                                *ngIf="dsMonHoc.length!=0">{{tongSoTCBatBuoc}}</span></label>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Người phê duyệt" formControlName="nguoiKy" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-sm btn-success mx-md-2" type="submit">Thêm (F9)</button>
                        <button class="btn btn-sm btn-danger" type="reset">Làm mới</button>
                    </div>
                </div>
               </form>
            </div>
        </div>
        <div class="panel-body">
            <div class="row overflow-auto">
                <h4>Tất cả môn học</h4>
                <div class="">
                   
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Mã môn</th>
                                <th>Tên môn</th>
                                <th>Khối kiến thức</th>
                                <th>Số TC Lý thuyết</th>
                                <th>Số TC thực hành</th>
                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let smonHoc of allMonHoc.data">
                                <tr (click)="addMonHoc(smonHoc)" style="cursor: pointer;">
                                    <td>{{smonHoc.maMon}}</td>
                                    <td>{{smonHoc.tenMon}}</td>
                                    <td>{{smonHoc.khoiKienThuc}}</td>
                                    <td>{{smonHoc.soTCLyThuyet}}</td>
                                    <td>{{smonHoc.soTCThucHanh}}</td>
                                 
                                    <td></td>
                                </tr>
                            </ng-container>

                        </tbody>
                    </table>
                    <div>
                        <ngb-pagination [collectionSize]="tongMonHoc" [pageSize]="6" [(page)]="index" [maxSize]="10"
                            [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                    </div>
                </div>
            </div>

        </div>
    </div>

<div id="MonHocModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg full-height-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm môn học</h4>
            </div>
            <form *ngIf="doneSetupForm" [formGroup]="formMonHoc" (ngSubmit)="createMonHoc(formMonHoc.value)"
                class="form-horizontal ">
                <div class="modal-body ">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <label class="control-label no-padding-right"> Mã môn (<span
                                            style="color: red;">*</span>)</label>
                                    <input type="text" placeholder="Mã môn" class="form-control"
                                        formControlName="mamon" />
                                    <div *ngIf="submitted && f.mamon.errors" class="text-danger">
                                        <div *ngIf="f.mamon.errors.required">Vui lòng nhập mã môn</div>
                                    </div>
                                </td>
                                <td>
                                    <label class="control-label no-padding-right"> Tên môn (<span
                                            style="color: red;">*</span>)</label>
                                    <input type="text" placeholder="Tên môn" class="form-control"
                                        formControlName="tenmon" />
                                    <div *ngIf="submitted && f.tenmon.errors" class="text-danger">
                                        <div *ngIf="f.tenmon.errors.required">Vui lòng nhập Tên môn</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan=2>
                                    <label class="control-label no-padding-right">Khối kiến thức</label>
                                    <textarea placeholder="Mô tả" class="form-control"
                                        formControlName="khoikienthuc"></textarea>

                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label no-padding-right"> Số TC lý thuyết</label>
                                    <input type="text" class="form-control" value="1" formControlName="sotclt" />
                                </td>
                                <td>
                                    <label class="control-label no-padding-right"> Số TC thực hành</label>
                                    <input type="text" class="form-control" value="1" formControlName="sotcth" />
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default btn-sm" (click)="reset()">
                        <i class="fa fa-bell"></i> Làm mới
                    </button>
                    <button type="submit" class="btn btn-success btn-sm btn-submit">
                        <i class="fa fa-save"></i> Đồng ý
                    </button>
                    <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">
                        <i class="fa fa-times"></i> Đóng lại
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>